ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
